
body {
    background: url(../images/20140604_165711.jpg) fixed;
    background-size: cover;
}

header {
    padding-top: 4em;
}




#tanja {
    background: url(../images/stock-photo-reading-eyeglasses-and-eye-chart-75886249.jpg) center;
    height: 10em;
}

#Leistungen {
    background-color: rgba(255,255,255,0.5);
}



.carousel-control.right, 
.carousel-control.left {
    background-image: none;
}

.icon-next,
.icon-prev {
    color: black;   
}

footer {
    color: #aaa;
    line-height: 1.5rem;
    background-color: lightgray;
    /*margin: 0 -20px;*/
    padding-top: 60px;
    padding-bottom: 20px;
}



.jumbotron {
    width: auto;
    height: 200px;
    
    background-color: rgba(2,117,216,0);
    color: white;
    padding-top:1em;
}

#Sehtest {
    background: url(../images/stock-photo-reading-eyeglasses-and-eye-chart-75886249.jpg) center;
    
}

#Bestimmung {
    background: url(../images/stock-photo-hand-holding-eye-glasses-isolated-on-white-background-417490531.jpg) center;
    
}

#Kontaktlinsen {
    background: url(../images/stock-photo-colored-contact-lenses-vision-289249787.jpg) center;
}

#Sehtest, 
#Bestimmung,
#Kontaktlinsen {
    filter: blur(1.5px);
    min-height:4em;
}

.btn-outline-danger {
    color: white;
    border-color: white;
}

.btn-outline-danger:hover, .btn-outline-danger:visited {
  background-color: #0275d8;
  border-color: white;
}

.btn-outline-danger:focus, .btn-outline-danger:active:focus {
  background-color: transparent;
  border-color: white;
}



.vertical-center-section {
    align-items: center;
}



.btn-outline-primary {
    color: black;
    border-color: black;

}

.card {
    color: black;
}

#myImage {
   
    height: 13em;
    border-radius:15px;
}



#googleMap {
    height: 250px; 
    width: auto;
    border: solid 5px;
}

#copyright {
    position:relative;
    bottom: 0px;
    left: 0px;
}

#hamburgerButton {
    margin-top: 1.5em;
    /*border: dashed;*/
}


.carousel-indicators {
  bottom: -30px;
}

.carousel-indicators li {
  border: 1px solid #000;
}


.carousel-indicators .active {
  background-color: #000;
}




.nav-item a {
    color: grey;
    padding-bottom: 1em;
    padding-left: 4em;
}


/* Hide/rearrange for smaller screens */
@media (max-width: 767px) {

    /* Hide elements */
  #googleMap, 
  #WelcomeUntertitel, 
  .carousel-control.right,
  .carousel-control.left,
  .carousel-caption  {
    display: none;
    }

  header {
    padding-top: 0em;
    
    }

  .jumbotron {
    padding-top: 0em;
    }

  #Welcome {
      font-size: 3em;
  }
  

}

@media (min-width: 768px) {
    .vertical-center {
        display: flex;
        align-items: center;
        /*padding-top: 4em;*/
    }

}


/* Product-Page */
/*      Navbar*/
.nav {
    border-radius: 5px;
}

.nav .nav-pills {
    color: black;
    border: solid 2px;
    border-color: red;
}

.nav-pills .nav-item .nav-link {
    font: bold 16px sans-serif;
    color: rgba(0,0,0,0.7);
}


.Produkte_Brillen {
    /*background-color: white;*/
    background-color: rgba(255,255,255,0.95);
    border-radius: 15px;
}

.Produkte_Brillen h3 {
    padding-top: 1em;
    padding-left: 0.5em;
    padding-bottom: 1em;
    text-align: center;
}

.card {
    margin: 1em;
    
}

.card-group {
        padding: 1em;
}


$fontColorDark: tint(black, 70%);

#Category {
    background-color: rgba(255,255,255,0.95);
    /*height: 26em;*/
    margin-top: 7em;
    margin-bottom: 10em;
    padding-bottom: 2em;
    padding-top: 2em;
    color: $fontColorDark;
    

   h4 {
        text-align: center;
    }

   #MoreInformation {
       display: block;
       margin: auto;
       margin-top: 2em;
       width: 50%;
   }
}


