<footer class="footer-distributed">
    <div class="footer-left">
        @*<h3>Company<span>logo</span></h3>*@
        <img src="~/images/logo.jpg" style="width:20%;" />
        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Leistungen</a>
            ·
            <a href="#">Produkte</a>
            ·
            <a href="#">Über uns</a>
            ·
            <a href="#">Kontakt</a>
            ·
            <a href="#">Impressum</a>
        </p>

        <p class="footer-company-name">Company Name &copy; 2015</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Straße</span> Ort</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>0 64 21 / 45 67 89</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">support@company.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Öffnungszeiten</span>
            Mo - Fr: 9 - 18 Uhr<br /><br />
            Sa: 09 - 12 Uhr
        </p>

        @*<div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>*@

    </div>

</footer>