<header>
    <div class="jumbotron">
        <div class="container" style="text-align: center;">
            <h1 class="display-4" id="Welcome"><b>@Model.Header.Title</b></h1>
            <h4 id="WelcomUntertitel">
                @Model.Header.SubTitle
            </h4>
        </div>
    </div>
</header>
