<header>
    <div class="jumbotron">
        <div class="container" style="text-align: center;">
            <h1 class="display-4" id="Welcome"><b>@Model.Title</b></h1>
            <h4 id="WelcomeUntertitel">
                @Model.SubTitle
            </h4>
        </div>
    </div>
</header>
