<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
<link rel="stylesheet" href="~/lib/footer.css" />
<link rel="stylesheet" href="~/css/app.css" />
@*<link rel="stylesheet" href="~/css/site.css" />*@
<link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
<title>@Model.Title</title>