<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/footer.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
</head>
<body>


    
    <nav class="navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseIt" style="color: white; border: solid 1px;">
            ☰
        </button>
    </nav>

    <div class="collapse" id="collapseIt">
        <div class="p-a" style="background-color: white;">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item active">
                    <a href="~/Home" class="nav-link active">Home_xxx</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Leistungen</a>
                </li>
                <li class="nav-item">
                    <a href="~/Products" class="nav-link">Produkte</a>
                </li>
                <li class="nav-item">
                    <a href="~/home/about" class="nav-link">Über uns</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Kontakt</a>
                </li>

            </ul>
        </div>
    </div>




    @RenderBody()



        <footer class="footer-distributed">
            <div class="footer-left">
                @*<h3>Company<span>logo</span></h3>*@
                <img src="~/images/logo.jpg" style="width:20%;" />
                <p class="footer-links">
                    <a href="#">Home</a>
                    ·
                    <a href="#">Leistungen</a>
                    ·
                    <a href="#">Produkte</a>
                    ·
                    <a href="#">Über uns</a>
                    ·
                    <a href="#">Kontakt</a>
                    ·
                    <a href="#">Impressum</a>
                </p>

                <p class="footer-company-name">Company Name &copy; 2015</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Straße</span> Ort</p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>0 64 21 / 45 67 89</p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@company.com">support@company.com</a></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>Öffnungszeiten</span>
                    Mo - Fr: 9 - 18 Uhr<br /><br />
                    Sa: 09 - 12 Uhr
                </p>

                @*<div class="footer-icons">

                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>

                    </div>*@

            </div>

        </footer>





    </main>

    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>




</body>
</html>
