<nav class="navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseIt" style="color: white; border: solid 1px;">
        ☰
    </button>
</nav>

<div class="collapse" id="collapseIt">
    <div class="p-a" style="background-color: white;">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-item active">
                <a href="~/Home" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Leistungen</a>
            </li>
            <li class="nav-item">
                <a href="~/Products" class="nav-link">Produkte</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Über uns</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Kontakt</a>
            </li>
        </ul>
    </div>
</div>
